#js-backend
js-backend/.env
node_modules/

# React
frontend/node_modules/
frontend/build/
frontend/dist/
frontend/.env
frontend/.env.local
frontend/GoldenHour_AI/.env

# IDE
.vscode/
.idea/
.DS_Store
